[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/autoload/tslime.vim"]
	path = .vim/autoload/tslime.vim
	url = https://github.com/kikijump/tslime.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
